<% if user_signed_in? %>
  <% if current_page?(decks_path) %>
    <ul class="menu menu-horizontal bg-blue-100 rounded-box mt-6 flex">
      <div>
        <%= search_form_for @q do |f| %>
          <div class="flex">
            <%= f.search_field :name_cont, class: 'form-control', placeholder: 'デッキ名' %>
            <%= f.submit '検索', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>      
    </ul>
  <% elsif current_page?() %>
  <div>
    <ul class="menu menu-horizontal bg-blue-100 rounded-box mt-6 flex">
      <div class="flex">
        <li><%= link_to "マイデッキ一覧", your_decks_path, class:"btn btn-ghost text-sx"%></li>
        <li><%= link_to "マイデッキ作成", new_deck_path, class:"btn btn-ghost text-sx"%></li>
      </div>
      <div class="flex">
        <li><%= link_to "マイカード一覧", your_cards_path, class:"btn btn-ghost small" %></li>
        <li><%= link_to "マイカード作成", new_card_path, data: {"turbolinks" => false}, class:"btn btn-ghost text-sx"%></li>
      </div>
      <a class="btn btn-ghost text-l">的な</a>
      <p>menu_bar</p>
    </ul>
  </div>
  <% end %>
<% elsif current_page?(decks_path)  %>
  <ul class="menu menu-horizontal bg-blue-100 rounded-box mt-6 flex">
    <div>
      <%= search_form_for @q do |f| %>
        <div class="flex">
          <%= f.search_field :name_cont, class: 'form-control', placeholder: 'デッキ名' %>
          <%= f.submit '検索', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>      
  </ul>
<% end %>
