<p style="color: green"><%= notice %></p>

<%= render @deck %>

<div>
  <% if @deck.cards.any? %>
    <% @deck.cards.each_with_index do |card, index| %>
      <li><%= card.title %> : <%= card.body %></li>
      <br/>
    <% end %>
  <% else %>
    <p>ありません</p>
    <div>
      <%= link_to "Edit this deck", edit_deck_path(@deck) %> |
      <%= link_to "Back to decks", decks_path %>

      <%= button_to "Destroy this deck", destroy_your_deck_path, data: { turbo_method: :delete } %>
    </div>
  <% end %>
</div>

